---
Checks: >-
    bugprone-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    concurrency-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
User: semkiv
...
